extends layout

block content
  .admin-content
    .action-bar
      button.btn.action-button(onclick='showModal(true)')
        span 新增分类
    
    .table-responsive
      table.table.table-striped
        thead
          tr
            th 名称
            th 描述
            th 文章数量
            th 创建时间
            th 操作
        tbody#categoryList
          // 分类列表将通过 JavaScript 动态加载
    
    // 新增/编辑分类模态框
    #categoryModal.modal
      .modal-overlay(onclick='hideModal()')
      .modal-dialog
        .modal-content
          .modal-header
            h5#modalTitle.modal-title 新增分类
            button.modal-close(onclick='hideModal()')
              i.fas.fa-times
          .modal-body
            form#categoryForm
              input#categoryId(type='hidden')
              .form-group
                label.form-label(for='name') 名称
                input#name.form-input(type='text' required)
                .form-error 请输入分类名称
              .form-group
                label.form-label(for='description') 描述
                textarea#description.form-input(rows='3')
          .modal-footer
            button.btn.btn-cancel(onclick='hideModal()') 取消
            button#saveCategory.btn.btn-submit(type='submit') 保存

block scripts
  script(src='/javascripts/category.js')