extends layout

block content
  .admin-content
    .action-bar
      button.action-button(data-bs-toggle='modal' data-bs-target='#categoryModal' onclick='resetForm()')
        i.fas.fa-plus
        span 新增分类
    
    .table-responsive
      table.table.table-striped
        thead
          tr
            th 名称
            th 描述
            th 文章数量
            th 创建时间
            th 操作
        tbody#categoryList
          // 分类列表将通过 JavaScript 动态加载
    
    // 新增/编辑分类模态框
    #categoryModal.modal.fade(tabindex='-1' aria-labelledby='modalTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5#modalTitle.modal-title 新增分类
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form#categoryForm.needs-validation(novalidate)
              input#categoryId(type='hidden')
              .mb-3
                label.form-label(for='name') 名称
                input#name.form-control(type='text' required)
                .invalid-feedback 请输入分类名称
              .mb-3
                label.form-label(for='description') 描述
                textarea#description.form-control(rows='3')
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 取消
            button#saveCategory.btn.btn-primary(type='submit') 保存

block scripts
  script(src='/javascripts/category.js')